VITE_KINDE_CLIENT_ID=placeholder-client-id
VITE_KINDE_DOMAIN=https://example.kinde.com
VITE_TURSO_URL=https://example.turso.io
VITE_TURSO_TOKEN=placeholder-token
VITE_KINDE_CLIENT_ID_ADMIN=placeholder-client-id-admin
VITE_TURSO_TOKEN_ADMIN=placeholder-token-admin
